# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*
yarn-error.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

/src/generated/prisma
